{% extends 'base.html' %}

{% block title %}
Your Albums
{% endblock %}

{% block content %}

<nav>
    <div class="nav-left">
        <a href="/">Cene</a>
    </div>
</nav>
<div class="nav-margin"></div>


{% for key in image_preds %}
<div class="img-mosaic">
    <div class="img-tile img-title-tile">
        <div>{{ key }}</div>
    </div>
    {% for image in image_preds[key] %}
        <div class="img-tile" style="background-image: url({{image}})"></div>
    {% endfor %}
</div>
{% endfor %}

{% endblock %}

